@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #128C7E;
  --secondary: #25D366;
}

body {
  @apply antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}
